<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<link rel="stylesheet" th:href="@{/css/addStyle.css}"/>
</head>
<body>
	<div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
		<strong th:text="${message}"></strong>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="container">
		<div class="row">
			<h2>Add New Rating</h2>
		</div>
		<form th:action="@{/logout}" method="post">
			<button type="submit" class="btn btn-danger" id="logout">Logout</button>
		</form>
		<div class="row">
			<form action="#" th:action="@{/rating/validate}" th:object="${rating}" method="post" class="container">
				<div class="mb-3">
					<label for="moodysRating" class="form-label">moodysRating</label>
					<input type="text" name="moodysRating" th:field="*{moodysRating}" class="form-control" id="moodysRating" placeholder="moodysRating">
					<p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></p>
				</div>
				<div class="mb-3">
					<label for="sandPRating" class="form-label">sandPRating</label>
					<input type="text" name="sandPRating" th:field="*{sandPRating}" class="form-control" id="sandPRating" placeholder="sandPRating">
					<p class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandPRating}"></p>
				</div>
				<div class="mb-3">
					<label for="fitchRating" class="form-label">fitchRating</label>
					<input type="text" name="fitchRating" th:field="*{fitchRating}" class="form-control" id="fitchRating" placeholder="fitchRating">
					<p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></p>
				</div>
				<div class="mb-3">
					<label for="orderNumber" class="form-label">orderNumber</label>
					<input type="text" name="orderNumber" th:field="*{orderNumber}" class="form-control" id="orderNumber" placeholder="orderNumber">
					<p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></p>
				</div>
				<a class="btn btn-danger" th:href="@{/rating/list}">Cancel</a>
				<button type="submit" class="btn btn-primary">Add Rating</button>
			</form>
		</div>
	</div>
</body>
</html>